<div class="catalog-outer">
    <div class="catalog-view">
        <div class="text-center">
            <div class="view-outter text-center">
                <app-catalog-view [(catalog)]="catalogSelected" [(currentImage)]="catalogSelected.image"></app-catalog-view>
            </div>
        </div>
    </div>
    <div class="catalog-items">
        <div class="previous" (click)="previousClick()">
            <img src="../../../assets/icons/left-icon.png">
        </div>
        <div class="next" (click)="nextClick()">
            <img src="../../../assets/icons/right_icon.png">
        </div>
        <app-catalog-items [items]="catalogs" [currentIndex]="currentIndex" (selectedCatalog)="selectedCatalog($event)"></app-catalog-items>
    </div>
    
     <div class="slide-input">
        <input type="checkbox"  class="test" id="slide" (change)="slideChange(!slideActive)"> Slide
    </div>
</div>
