<ng-container *ngFor="let catalog of items; let i = index">
    <div class="catalog item" [ngClass]="{'thumb-select': (currentIndex == i)}" (click)="onImageSelect(i)">
        <app-catalog-item class="catalog-item" [catalog]="catalog"></app-catalog-item>
    </div>
</ng-container>

